.input-mysize { width: 500px }

.tag {
  margin-right: 3px;
}

div.box {
  height: 100vh;
  width: 100vh;
  margin: auto;
}

div.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.left {
  margin-right: 0px;
  width: 50%; 
  float: left;
  height: 100%;
  background: mediumaquamarine;
}

div.right {
  margin-left: 50%; 
  height: 100%;
  background: blue;
}

div.searchBar {
  margin-bottom: 15px;
}

body > div#root {
  height: 100vh;
  text-align: center;
  display: flex;
}

html, body, #app, #app>div {
  height: 100%;
  text-align: center;
}
